

.card{
  a{
    font-size: em(14px);
    @include media-query(medium){
      font-size: em(16px);
    }
  }
  p, h3{
    font-size: em(14px);
    margin: 0;
    text-transform: capitalize;
    @include media-query(medium){
      font-size: em(16px);
    }
  }
  
  @include m(group){
    margin: auto 0;
    transition: transform 1s cubic-bezier(.55, -.62, .27, 1.2);
    transform-style: preserve-3d;
    &:hover{
      transform: rotate3d(0,1,0, 180deg);
      }
  }

  @include m(details){
    cursor: pointer;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
  }
}

.card, .card--details{
  align-items: center;
  height: em(200px);
  
  backface-visibility: hidden;
  border-bottom: 2px solid gray;
  @include media-query(medium){
    // padding: em(20px);
    justify-items: center;
    border: 2px solid gray;
    border-radius: $border-radius--default;
    -webkit-box-shadow: 11px 10px 25px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 11px 10px 25px -4px rgba(0,0,0,0.63);
    box-shadow: 11px 10px 25px -4px rgba(0,0,0,0.63);
  }
}