/*
////////////////////////////////////////////////////////////////////////////////
// scss/components/_grid.scss :  grid container for grid system
////////////////////////////////////////////////////////////////////////////////
*/


// Grid Background colors
.theme__colors.grid {
  @include bg-colors($grid-colors,'%buttons', $selector--element);
}

.container {
  // perspective: em(700px);
  padding: em(5px);
  @extend %clearfix;
  @extend %centered;
  width: 100%;
  @include flex(column);
  @include media-query(medium){
    max-width: $max-width;
    justify-content: space-between;
  }
}
.header{
  display: grid;
  
  @include media-query(large){
    
  }
}

.cards{
  display: grid;
  grid-gap: em(30px);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  @include media-query(medium){
    grid-template-columns: repeat(2,1fr);
  }
  @include media-query(large){
    grid-template-columns: repeat(3,1fr);
  }
 }

 .card, .card--details{
   display: grid;

   grid-template-columns: 100px 1fr;
   p{
     grid-column-start: 1;
     grid-column-end: 3;
   }
 }

 i{
  cursor: pointer;
}